{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}
<div class="col-md-4 col-md-offset-4" align="center">
    <img src="static/images/captchaheader.png" alt="Are you Human?">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-4 col-md-offset-4">
    <hr>
    <div align="center">
        <h2>{{ title }}</h2>
        <div align="center">
          <h3><i class="fab fa-instagram"></i>  username: rygrange</h3>
        </div>
    </div>

    <hr>
    {% if image %}
    <div align="center">
        <img src="{{ image['src'] }}" alt="{{ image['alt'] }}">
    </div>
    {% endif %}
    <div align="center">
        <h2>{{ question }}</h2>
        <h2 style="font-family: 'Lucida Console', Courier, monospace;letter-spacing: 0.4em;">{{ word_hint }}</h2>
        {%  if feedback %}
            <h3>{{ feedback }}</h3>
        {% endif %}
    </div>
    <hr>

    <form method="post" id="answer_post" name="answer_post">

        {{ form.hidden_tag() }}

        {{ macros.render_field(form.answer, placeholder=place_holder, type='answer', label_visible=false) }}

        <div align="center"><button type="submit" class="btn btn-primary">Submit</button></div>

    </form>

<br>
<br>
    <div align="center">
      <p>This activity is not a real attack. It is for cybersecurity awareness only</p>
    </div>
</div>

{% endblock %}  