{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<div class="col-md-4 col-md-offset-4">
    <br>
    <br>
    <div align="center">
        <img src="/static/images/stoWelcom.png" alt="gpt" height="300 px">
    </div>

    <hr>

    <div align="center">
        <h2>Hello Anonymous Hacker!</h2>
    </div>

    <hr>

    <div align="center">
        <h3>You have a new mission, you must break into a Cisco Server and take a secret file off the system!</h3>
    </div>

    <hr>

    <div align="center">
        <h3>Task 1: Set up a WebEx Teams room with Ryan to get your next steps</h3>
        <h3>Task 2: <a href="https://cisco.sharepoint.com/:w:/s/STOEIC/EZL83KdGhWJIlkYX_0kpQVABK6vW-52jDKRlljHoiQOiFw?e=1wcwfX">Go to sharepoint</a> to get your user manual</h3>
    </div>

</div>

{% endblock %}  