{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Instagram Password Reset</h2>
        <img src="/static/images/Instagram_AppIcon_Aug2017.png" alt="instagram" height="150 px">
        <h3><i class="fab fa-instagram"></i>  username: zoekayla95</h3>
      </div>

    <hr>

    <div align="center">
        <h2>Please answer this security question to continue</h2>
    </div>

    <hr>

    <div align="center">
        <h3>{{ question }}</h3>
        {%  if feedback %}
            <h3>{{ feedback }}</h3>
        {% endif %}
    </div>

    <hr>

    <form method="post" id="answer_post" name="answer_post">

        {{ form.hidden_tag() }}

        {{ macros.render_field(form.answer, placeholder=place_holder, type='answer', label_visible=false) }}

        <div align="center"><button type="submit" class="btn btn-primary">Submit</button></div>

    </form>

<br>
<br>
    <div align="center">
      <p>This site is not affiliated with Instagram. It is being used for cybersecurity awareness only</p>
    </div>
</div>

{% endblock %}  