{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <iframe src="https://giphy.com/embed/CF1PeWOAv68la" width="480" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <h2>Feed to STO Troll to continue...</h2>
      </div>

    <hr>

    <hr>

    <div align="center">
        <h3>{{ question }}</h3>
        {%  if feedback %}
            <h3>{{ feedback }}</h3>
        {% endif %}
    </div>

    <hr>

    <form method="post" id="answer_post" name="answer_post">

        {{ form.hidden_tag() }}

        {{ macros.render_field(form.answer, placeholder=place_holder, type='answer', label_visible=false) }}

        <div align="center"><button type="submit" class="btn btn-primary">Submit</button></div>

    </form>

<br>
<br>
    <div align="center">
      <p>This site is not affiliated with Instagram. It is being used for cybersecurity awareness only</p>
    </div>
</div>

{% endblock %}  